<!DOCTYPE html>
<html>
  <head>
    <title>login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/tw-elements.min.css" />
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  </head>
  <body>

    <div class="flex">
      
      <!-- Login -->
      <div class="login-box ml-300 h-400 ">
          <h2 class="text-2xl">Inicio de Sesión</h2>
          <form action="/dashboard" method="POST">
              <div class="user-box relative">
                  <input type="text" name="email" id="floatingInput" required class="w-full text-white border-b border-white outline-none bg-transparent">
                  <label class="absolute top-0 left-0 p-2 text-white transition-all duration-500">Usuario</label>
              </div>
              <div class="user-box relative">
                  <input type="password" name="password" id="floatingPassword" required class="w-full text-white border-b border-white outline-none bg-transparent">
                  <label class="absolute top-0 left-0 p-2 text-white transition-all duration-500">Contraseña</label>
              </div>
              <a type="submit" id="" href="" class="btn-submit">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                  <button class="reset-btn">Iniciar Sesión</button>
              </a>
              
          </form>
      </div>
  </div>
  
  <script>
      var fechaInput = document.getElementById('fecha');
  
      fechaInput.addEventListener('focus', function () {
          this.classList.add('active');
      });
  
      fechaInput.addEventListener('blur', function () {
          if (!this.value) {
              this.classList.remove('active');
          }
      });
  </script>
  
  <style>
      html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url(/images/mueble1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 550px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
    top: -20px;
    left: 0;
    color: #fff;
    font-size: 12px;
}

.login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
}

.login-box a:hover {
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 2px rgba(8, 28, 70, 0.7),
                0 0 25px rgba(38, 21, 184, 0.7),
                0 0 50px rgba(38, 21, 184, 0.7),
                0 0 100px rgba(38, 21, 184, 0.7);
}

.login-box a span {
    position: absolute;
    display: block;
}

.login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #fff);
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}

.login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #25a0f1);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }

    50%,
    100% {
        top: 100%;
    }
}

.login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #fff);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }

    50%,
    100% {
        right: 100%;
    }
}

.login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #25a0f1);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }

    50%,
    100% {
        bottom: 100%;
    }
}

/*.login-box .crear {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
    margin-left: 15px;
    margin-bottom: 80px;
}

.login-box .crear:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #2615b8,
        0 0 25px #2615b8,
        0 0 50px #2615b8,
        0 0 100px #2615b8;
}

.login-box .crear span {
    position: absolute;
    display: block;
}

.login-box .crear span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
}

.login-box .crear span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
}

.login-box .crear span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
}

.login-box .crear span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
}

.carousel-container {
    width: 100%;
    margin: 0 auto;
}

.carousel {
    display: flex;
    overflow: hidden;
}

.carousel-item {
    flex: 0 0 50%;
    max-width: 74.9%;
    transition: transform 0.5s ease;

}
*/

  </style>
  
    <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/tw-elements.umd.min.js"></script>
    </body>
</html>